<!DOCTYPE html>
<html>

<head>
	<title>Users Connection</title>
	<link rel="stylesheet" href="/stylesheets/profile.css">
	<link rel="stylesheet" href="/stylesheets/edit_user_edit_profile.css">
	<% include ../partials/head.ejs %>
</head>

<body>
	<% include ../company_partials/company_header.ejs %>
	<% include ../company_partials/company_nav.ejs %>

	<div class="container content">
		<% include ../company_partials/company_user_search.ejs %>
	</div>
</body>

</html>