<!DOCTYPE html>
<html>

<head>
	<title>Company Connection</title>
	<link rel="stylesheet" href="/stylesheets/profile.css">
	<link rel="stylesheet" href="/stylesheets/edit_user_edit_profile.css">
	<% include ../partials/head.ejs %>
</head>

<body>
	<% include ../user_partials/user_header.ejs %>
	<% include ../user_partials/user_nav.ejs %>

	<div class="container content">
		<% include ../user_partials/user_job_search.ejs %>
	</div>
</body>

</html>